body{
	height:100%;
	width:100%;
}

img{
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.audioButton{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 100px;
	height: 100px;
	border: 0px;
	border-radius: 50%;
	box-shadow: none;
	background-color: #FFA600;
	color: white;
}

.audioButton:hover{
	cursor: pointer;
	background-color: #c3db15;
}

.backgroundBox{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-image: url("../IMG/background.png");
    background-repeat: repeat;
}

.mapBox{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

.charDiv{
	pointer-events: none;
	height:32px;
	width:32px;
}

.hoverImage:hover{
	cursor: pointer;
	filter: brightness(160%);
}

.dimImage{
	filter: brightness(60%);
}

.healthBarBack{
	position: absolute;
	width: 28px;
	height: 2px;
	left: 2px;
	top: 28px;
	background-color: dimgray;
}

.healthBarFront{
	position: absolute;
	height: 2px;
	left: 2px;
	top: 28px;
}

.healthBarBorder{
	position: absolute;
	width: 27px;
	height: 1px;
	left: 2px;
	top: 28px;
	border: 1px solid black;
}

.infoElement{
	position: absolute;
	border-radius: 10px;
}

.rightIndented{
	position: absolute;
	margin-top:5px;
}

.popOutHeader{
	margin-top:5px;
}

.popOutBody{
	margin-top:25px;
}

.popOutText{
	font-size:11px;
	position: absolute;
	margin-left:5px;
	margin-right:5px;
}

.popOutTextSpacing{
	margin-top:5px;
}

.glowBox{
	position:absolute;
	height:32px;
	width:32px;
	display:inline-block;
}

.glowBoxBorderBox{
	position:absolute;
	margin: auto;
	left:0;
	right:0;
	bottom:0;
	top:0;
	height:31px;
	width:31px;
}

.glowBoxBorder0{
	border: 0px solid rgba(0, 0, 0, .08);
}

.glowBoxBorder1{
	border: 1px solid rgba(0, 0, 0, .08);
}

.glowBoxBorder2{
	border: 1px solid rgba(0, 0, 0, .2);
}

.glowBoxBorder3{
	border: 1px solid rgba(0, 0, 0, .4);
}

.glowBox:hover{
	box-shadow: 0px 0px 10px rgba(255, 0, 0, 1);
}

.absolutePos{
	position:absolute;
}

.mapCharCentered{
	position: absolute;
	left: 50%;
	bottom: 0px;
	-webkit-transform: translateX(-50%);
}

.customDivider{
	position:absolute;
	width:96%;
	height:1px;
	left:2%;
	background-color: white;	
}

.buttonGridStyle{
	position: relative;
	width: 260px; 
	height: 40px;
	bottom: 30px;
	right: 380px;
	
 	border: 0px;
 	box-shadow: none;
 	background-color: #fafafa;
 	color: #505050;
 	font-family: "Verdana";
	font-size:20px;
	cursor: pointer;
}

.buttonPlayStyle{
	position: relative;
	width: 50px; 
	height: 50px;
	bottom: 26px;
	right: 760px;
	
 	border: 0px;
 	box-shadow: none;
 	background-color: #fafafa;
 	color: #505050;
 	font-family: "Verdana";
	font-size:20px;
	cursor: pointer;
}

.musicPickerStyle{
	position: relative;
	width: 220px; 
	height: 60px;
	bottom: 30px;
	right: 1690px;
	font-size: 20px;
	border: 0px;
	background-color: transparent;
}

.speakerIcon{
	position: relative;
	font-family: "Verdana";
	font-size: 32px;
	bottom: 26px;
	right: 1020px;
}

.rangeStyle{
	position: relative;
	width: 300px; 
	height: 60px;
	bottom: 6px;
	right: 1020px;
}
